In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#ANSWERS

a= "chirag"
blist=[1,2,3,"chirag",12.3]
c=25.4
dtuple=(1,2,3,"chirag")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

i)String
ii)String
iii)List
iv)int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [7]:
10/5
#/ it is used to devide two numbers.

2.0

In [9]:
10%3
#this symbol is used to get the remainder numbers after deviding

1

In [12]:
10//4
#thees symbols are used to devide the numer without getting decimal value it will make it whole number itself

2

In [15]:
3**3
#it is used to give power means square and cube we also can find it means in this example 3 power3

27

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
list1=[1,2,3,4,5,"chirag",2.2,True,6,7]

In [2]:
type(list1)

list

In [3]:
for i in list1:
    print(i)

1
2
3
4
5
chirag
2.2
True
6
7

In [4]:
for i in list1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'int'>

In [12]:
for i in list1:
    print(type(i))
    if i==3:
        continue
        print(i)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'int'>

In [7]:
#question 4 
A=int(input("Enter number a="))
B=int(input("Enter number b="))
while A%B==0:
    A//=B
    if A ==0:
        print("A is completely divisible by b ")
    else:
            print("A is not completely divisible by b ")

Enter number a= 20
Enter number b= 20

A is not completely divisible by b

In [10]:
#question 5
mylist=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for num in mylist:
    if num %3==0:
        print("Number is devided by 3 ")
    else:
        print("it is not divisible by 3")

it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3
it is not divisible by 3
Number is devided by 3
it is not divisible by 3

In [24]:

listmy=[1,2,3,4,"chirag"]
listmy[4]="bharat"
listmy

[1, 2, 3, 4, 'bharat']

In [23]:
a= "chirag"
a[0]="b"

TypeError: 'str' object does not support item assignment